body
{
    background-color: rgb(245, 240, 232);
    font-family: "Roboto", sans-serif;
}

p
{
    padding: 0 10px;
}

a:link
{
    color: rgb(39, 39, 82);

}

a:visited
{
    color: rgb(119, 76, 133);
}

h1, h2, h3, h4
{
    color: rgb(22, 16, 27);
    text-shadow: 0 -1px 3px #ff000050, 0 1px 3px #0000ff41;
}

/* blockquote::before
{

} */

.container
{
    margin: auto;
    width: 50%;
    text-align: justify;
    line-height: 1.5;
}

.container-image
{
    text-align: center;
}

#contents a, footer a
{
    font-weight: bolder;
    padding-right: 10px;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

#contents ul
{
    list-style: disc;
}

#contents ol
{
    list-style: upper-roman;
}

.cpu-table
{
    background-color: rgb(203, 191, 216);
    padding: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(23, 16, 31, 0.116);
}

.cpu-table table
{
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
}

.cpu-table th, td, tr
{
    padding: 8px;
    border: 2px solid;
    text-align: center;
}

.table-header, .table-header th
{
    background-color: rgb(203, 191, 216);
    border-color: rgb(245, 240, 232);
}

.table-row, .table-row td
{
    background-color: rgb(245, 240, 232);
    border-color: rgb(203, 191, 216);
}

table tr:hover td
{
    background-color: rgb(236, 224, 234);
}
