textarea
{
    margin-bottom: 10px;
    width: 350px;
    height: 150px;
    resize: none;
}

fieldset
{
    margin-bottom: 10px;
    width: 350px;
}

h1
{
    text-align: center;
}

.container
{
    margin: auto;
    width: 60%;
}

.feesh
{
    margin: 15px 0;
    border: 1px solid;
    padding: 5px;
    width: 600px;
    height: 300px;
    overflow: auto;
}