body
{
    font-family: "Roboto", sans-serif;
}

header
{
    display: flex;
    width: 100%;
}

div
{
    margin-bottom: 20px;
}

.container
{
    margin: auto;
    width: 60%;
}

.theme-light
{
    background-color: linen;
    color: #333333;
    transition: all 1s;
}

.theme-dark
{
    background-color: #333333;
    color: linen;
    transition: all 1s;
}

.btn-img
{
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
}

.theme-light-img
{
    filter: invert(12%) sepia(10%) saturate(14%) hue-rotate(320deg) brightness(93%) contrast(78%);
    transition: all 1s;
}

.theme-dark-img
{
    filter: invert(91%) sepia(5%) saturate(766%) hue-rotate(330deg) brightness(106%) contrast(96%);
    transition: all 1s;
}

.time-blocks
{
    display: flex;
    justify-content: space-around;
}

.time-block
{
    display: none;
    padding: 0;
    margin-right: 20px;
    width: 100px;
    height: 120px;
    background-color: cadetblue;
    color: lightgoldenrodyellow;
    text-align: center;
    border: 2px solid cadetblue;
    border-radius: 10px;
}

.time-unit
{
    margin-top: 10px;
    font-weight: bolder;
    font-size: 50px;
}

.time-marker
{
    margin-top: 20px;
}

.small-img
{
    height: 20%;
    width: 20%;
    display: block;
}

#change-theme
{
    margin-left: auto;
}

#delay
{
    width: 50px;
}