header
{
    display: flex;
    width: 100%;
}

div
{
    margin-bottom: 20px;
}

.container
{
    margin: auto;
    width: 60%;
}

.theme-light
{
    background-color: linen;
    color: #333333;
    transition: all 1s;
}

.theme-dark
{
    background-color: #333333;
    color: linen;
    transition: all 1s;
}

.btn-img
{
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
}

.btn-img:active
{
    background-color: rgba(102, 92, 110, 0.39);
    transition: none;
}

.theme-light-img
{
    filter: invert(12%) sepia(10%) saturate(14%) hue-rotate(320deg) brightness(93%) contrast(78%);
    transition: all 1s;
}

.theme-dark-img
{
    filter: invert(91%) sepia(5%) saturate(766%) hue-rotate(330deg) brightness(106%) contrast(96%);
    transition: all 1s;
}

#change-theme
{
    margin-left: auto;
}

#delay
{
    width: 50px;
}